body{
    background-image: url("./images/bookshelf.png");
    margin: 0;
    padding: 0;
}


h1{
    color: yellow;
}

.Navbar{
    color: white
}

.row2{
    display:flex; 
    flex-direction:row;

}